In [33]:
# importing the dependent libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [34]:
df = []
for dirpath, dirname, file in os.walk('C:\\Users\\Syahrir Ridha\\TU_Pressure_loss'):
    for i in file:
        if i.endswith('.csv'):
             df.append(pd.read_csv(dirpath+'\\'+i))

In [35]:
len(df)

39

In [41]:
df[1]

,Unnamed: 0,Unnamed: 0.1,test_no,test_fluid,comp_xcd_%wt,comp_pac_%wt,shear_lbf/100ft2,shear_pa,k_lbf/100ft2sm,k_pasm,m,temp_f
0,1,2,2.0,XCD2,0.90%,0.00%,23.60,11.3,3.86,1.85,0.35,96-102
1,2,3,3.0,XCD3,1.00%,0.00%,30.08,14.4,3.25,1.56,0.39,93-95
2,3,4,4.0,XCD4,0.85%,0.00%,10.65,5.1,2.63,1.26,0.36,100-112
3,4,5,5.0,XCD-PAC1,0.80%,0.20%,15.66,7.5,2.24,1.07,0.47,90-95
4,5,6,6.0,XCD-PAC2,0.79%,0.45%,10.03,4.8,9.38,4.49,0.35,97-99
5,6,7,7.0,XCD-PAC3,0.25%,0.50%,0.00,0.0,2.07,0.99,0.48,87-89
6,7,8,8.0,XCD5,0.80%,0.00%,13.58,6.5,1.34,0.64,0.48,101-110
7,8,9,9.0,XCD6,0.90%,0.00%,26.32,12.6,3.70,1.77,0.38,100-113
8,9,10,10.0,XCD7,0.79%,0.00%,13.37,6.4,1.69,0.81,0.45,106-115
9,10,11,11.0,XCD8,0.88%,0.00%,10.23,4.9,1.46,0.70,0.45,86-92
10,11,12,12.0,XCD-PAC4,0.80%,0.39%,3.97,1.9,8.93,4.28,0.36,86-92
11,12,13,13.0,XCD-PAC5,0.79%,0.45%,7.31,3.5,6.82,3.27,0.39,96-98
12,13,14,14.0,XCD-PAC6,0.25%,0.50%,0.00,0.0,2.34,1.12,0.49,96-103
13,14,15,15.0,XCD9,0.79%,0.00%,16.92,8.1,1.87,0.90,0.45,100-108
14,15,16,16.0,XCD-PAC7,0.27%,0.50%,0.00,0.0,2.92,1.40,0.46,91-99
15,16,17,17.0,XCD10,0.79%,0.00%,18.80,9.0,2.11,1.01,0.48,93-101
16,17,18,18.0,XCD-PAC8,0.79%,0.45%,7.94,3.8,6.22,2.98,0.40,82-85

In [42]:
for i in range(len(df)):
    globals()['df_%i'%(i+1)] = df[i]

In [44]:
df_2

,Unnamed: 0,Unnamed: 0.1,test_no,test_fluid,comp_xcd_%wt,comp_pac_%wt,shear_lbf/100ft2,shear_pa,k_lbf/100ft2sm,k_pasm,m,temp_f
0,1,2,2.0,XCD2,0.90%,0.00%,23.60,11.3,3.86,1.85,0.35,96-102
1,2,3,3.0,XCD3,1.00%,0.00%,30.08,14.4,3.25,1.56,0.39,93-95
2,3,4,4.0,XCD4,0.85%,0.00%,10.65,5.1,2.63,1.26,0.36,100-112
3,4,5,5.0,XCD-PAC1,0.80%,0.20%,15.66,7.5,2.24,1.07,0.47,90-95
4,5,6,6.0,XCD-PAC2,0.79%,0.45%,10.03,4.8,9.38,4.49,0.35,97-99
5,6,7,7.0,XCD-PAC3,0.25%,0.50%,0.00,0.0,2.07,0.99,0.48,87-89
6,7,8,8.0,XCD5,0.80%,0.00%,13.58,6.5,1.34,0.64,0.48,101-110
7,8,9,9.0,XCD6,0.90%,0.00%,26.32,12.6,3.70,1.77,0.38,100-113
8,9,10,10.0,XCD7,0.79%,0.00%,13.37,6.4,1.69,0.81,0.45,106-115
9,10,11,11.0,XCD8,0.88%,0.00%,10.23,4.9,1.46,0.70,0.45,86-92
10,11,12,12.0,XCD-PAC4,0.80%,0.39%,3.97,1.9,8.93,4.28,0.36,86-92
11,12,13,13.0,XCD-PAC5,0.79%,0.45%,7.31,3.5,6.82,3.27,0.39,96-98
12,13,14,14.0,XCD-PAC6,0.25%,0.50%,0.00,0.0,2.34,1.12,0.49,96-103
13,14,15,15.0,XCD9,0.79%,0.00%,16.92,8.1,1.87,0.90,0.45,100-108
14,15,16,16.0,XCD-PAC7,0.27%,0.50%,0.00,0.0,2.92,1.40,0.46,91-99
15,16,17,17.0,XCD10,0.79%,0.00%,18.80,9.0,2.11,1.01,0.48,93-101
16,17,18,18.0,XCD-PAC8,0.79%,0.45%,7.94,3.8,6.22,2.98,0.40,82-85

In [46]:
# cleaing df_1 : Dimension of Annuluar Test section
df_2.columns = df_2.columns.str.replace(' ','_') # replace the space n columns name
df_2.columns

Index(['Unnamed:_0', 'Unnamed:_0.1', 'test_no', 'test_fluid', 'comp_xcd_%wt',
       'comp_pac_%wt', 'shear_lbf/100ft2', 'shear_pa', 'k_lbf/100ft2sm',
       'k_pasm', 'm', 'temp_f'],
      dtype='object')

In [47]:
dia = df_2['Pipe_Diameter'].str.split('\n',n=1,expand=True)
df_2['Pipe_dia_inch'] = dia[0]
df_2['Pipe_dia_mm'] = dia[1]
df_2.drop(columns=['Pipe_Diameter'],inplace=True)

KeyError: 'Pipe_Diameter'

In [12]:
# delete the 1st row
dim_annulus=df_1.drop(df_1.index[0])

In [13]:
dim_annulus.set_index(['Annulus'])

KeyError: "None of ['Annulus'] are in the columns"

In [14]:
dim_annulus['Di/Do'][4]

KeyError: 'Di/Do'

In [15]:
dim_annulus.to_csv('dim_annulus.csv')

In [16]:
df_2.head()

,Unnamed: 0,test_no,test_fluid,comp_xcd_%wt,comp_pac_%wt,shear_lbf/100ft2,shear_pa,k_lbf/100ft2sm,k_pasm,m,temp_f
0,1,1.0,XCD1,0.86%,0.00%,8.98,4.3,2.69,1.29,0.38,93-97
1,2,2.0,XCD2,0.90%,0.00%,23.60,11.3,3.86,1.85,0.35,96-102
2,3,3.0,XCD3,1.00%,0.00%,30.08,14.4,3.25,1.56,0.39,93-95
3,4,4.0,XCD4,0.85%,0.00%,10.65,5.1,2.63,1.26,0.36,100-112
4,5,5.0,XCD-PAC1,0.80%,0.20%,15.66,7.5,2.24,1.07,0.47,90-95

In [17]:
df_2.columns

Index(['Unnamed: 0', 'test_no', 'test_fluid', 'comp_xcd_%wt', 'comp_pac_%wt',
       'shear_lbf/100ft2', 'shear_pa', 'k_lbf/100ft2sm', 'k_pasm', 'm',
       'temp_f'],
      dtype='object')

In [18]:
df_2=df_2.rename(columns={'Test No.':'test_no','Test Fluid':'test_fluid','Composition':'comp_xcd_%wt',
                   'Unnamed: 3':'comp_pac_%wt','t y':'shear_lbf/100ft2','Unnamed: 5':'shear_pa',
                    'K':'k_lbf/100ft2sm','Unnamed: 7':'k_pasm','m':'m','Temp.':'temp_f'})

In [19]:
comp_rheo_test_fluid_pipe_viso = df_2.drop(df_2.index[0])

In [20]:
comp_rheo_test_fluid_pipe_viso.to_csv('comp_rheo_test_fluid_pipe_viso.csv')

In [21]:
comp_rheo_test_fluid_pipe_viso.reset_index()

,index,Unnamed: 0,test_no,test_fluid,comp_xcd_%wt,comp_pac_%wt,shear_lbf/100ft2,shear_pa,k_lbf/100ft2sm,k_pasm,m,temp_f
0,1,2,2.0,XCD2,0.90%,0.00%,23.60,11.3,3.86,1.85,0.35,96-102
1,2,3,3.0,XCD3,1.00%,0.00%,30.08,14.4,3.25,1.56,0.39,93-95
2,3,4,4.0,XCD4,0.85%,0.00%,10.65,5.1,2.63,1.26,0.36,100-112
3,4,5,5.0,XCD-PAC1,0.80%,0.20%,15.66,7.5,2.24,1.07,0.47,90-95
4,5,6,6.0,XCD-PAC2,0.79%,0.45%,10.03,4.8,9.38,4.49,0.35,97-99
5,6,7,7.0,XCD-PAC3,0.25%,0.50%,0.00,0.0,2.07,0.99,0.48,87-89
6,7,8,8.0,XCD5,0.80%,0.00%,13.58,6.5,1.34,0.64,0.48,101-110
7,8,9,9.0,XCD6,0.90%,0.00%,26.32,12.6,3.70,1.77,0.38,100-113
8,9,10,10.0,XCD7,0.79%,0.00%,13.37,6.4,1.69,0.81,0.45,106-115
9,10,11,11.0,XCD8,0.88%,0.00%,10.23,4.9,1.46,0.70,0.45,86-92
10,11,12,12.0,XCD-PAC4,0.80%,0.39%,3.97,1.9,8.93,4.28,0.36,86-92
11,12,13,13.0,XCD-PAC5,0.79%,0.45%,7.31,3.5,6.82,3.27,0.39,96-98
12,13,14,14.0,XCD-PAC6,0.25%,0.50%,0.00,0.0,2.34,1.12,0.49,96-103
13,14,15,15.0,XCD9,0.79%,0.00%,16.92,8.1,1.87,0.90,0.45,100-108
14,15,16,16.0,XCD-PAC7,0.27%,0.50%,0.00,0.0,2.92,1.40,0.46,91-99
15,16,17,17.0,XCD10,0.79%,0.00%,18.80,9.0,2.11,1.01,0.48,93-101
16,17,18,18.0,XCD-PAC8,0.79%,0.45%,7.94,3.8,6.22,2.98,0.40,82-85

In [60]:
df_9.head()

,Test No.,Test Fluid,Temp.,Speed [rpm],Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,[F],1.0,2.0,3.0,6.0,10.0,20.0,30.0,60.0,100.0,200.0,300.0,600.0
1,1.0,XCD1,86,12.5,14.0,15.0,17.0,18.5,20.0,21.5,24.5,27.5,32.5,36.0,45.5
2,2.0,XCD2,88,34.0,36.0,38.0,41.0,42.5,45.0,47.0,50.0,53.0,60.0,65.0,73.0
3,3.0,XCD3,86,38.0,40.5,42.0,45.0,47.0,50.3,52.8,57.3,61.0,68.3,73.9,83.5
4,4.0,XCD4,98,14.0,16.0,17.0,19.5,21.5,23.5,25.0,27.5,30.0,34.0,37.0,44.0

In [61]:
list(zip(list(df_9.iloc[0].values),list(df_9.columns)))

[(nan, 'Test No.'),
 (nan, 'Test Fluid'),
 ('[F]', 'Temp.'),
 (1.0, 'Speed [rpm]'),
 (2.0, 'Unnamed: 4'),
 (3.0, 'Unnamed: 5'),
 (6.0, 'Unnamed: 6'),
 (10.0, 'Unnamed: 7'),
 (20.0, 'Unnamed: 8'),
 (30.0, 'Unnamed: 9'),
 (60.0, 'Unnamed: 10'),
 (100.0, 'Unnamed: 11'),
 (200.0, 'Unnamed: 12'),
 (300.0, 'Unnamed: 13'),
 (600.0, 'Unnamed: 14')]

In [62]:
df_9 = df_9.rename(columns={'Test No.':'test_no','Test Fluid':'test_fluid','Temp.':'temp_f',
                    'Speed [rpm]':'speed_rpm_1','Unnamed: 4':'speed_rpm_2',
                    'Unnamed: 5':'speed_rpm_3','Unnamed: 6':'speed_rpm_6',
                    'Unnamed: 7':'speed_rpm_10','Unnamed: 8':'speed_rpm_20',
                    'Unnamed: 9':'speed_rpm_30','Unnamed: 10':'speed_rpm_60',
                    'Unnamed: 11':'speed_rpm_100','Unnamed: 12':'speed_rpm_200',
                    'Unnamed: 13':'speed_rpm_300','Unnamed: 14':'speed_rpm_600'})

In [63]:
df_9 = df_9.drop(df_9.index[0])

In [65]:
df_9.to_csv('dial_read_viscometer.csv')

In [92]:
df_4.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,18.50,385.87,37.62,48.34,1357.43,87.47,89.12,156.44
2,17.67,370.28,36.97,46.60,1302.53,88.60,89.65,145.95
3,16.92,360.29,35.79,44.87,1253.97,88.91,89.57,138.77
4,16.09,343.47,34.97,43.66,1196.16,87.37,90.20,131.69

In [77]:
df_5

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,0.29,47.10,3.81,4.81,121.00,85.93,88.58,16.55
2,0.19,37.62,2.84,3.64,99.31,86.33,88.64,13.38
3,0.10,26.72,1.84,2.45,70.55,86.58,88.72,14.35
4,0.06,20.66,1.27,1.77,55.00,86.47,89.06,14.91
5,0.03,15.03,0.79,1.18,40.97,86.73,88.17,15.39

In [81]:
all(df_4.columns == df_5.columns)

True

In [80]:
# merge df_4 and df_5
# edit df_4
list(zip(df_4.columns,df_4.iloc[0].values))

[('Flow Rate', '[gpm]'),
 ('Differential Pressure [inch H2O]', '0.5 Pipe'),
 ('Unnamed: 2', 'Annulus #1 \n(e=100%)'),
 ('Unnamed: 3', 'Annulus #2 \n(e=100%)'),
 ('Unnamed: 4', 'Annulus #4 \n(e=100%)'),
 ('Temperature [(cid:176)F]', 'Inlet'),
 ('Unnamed: 6', 'Outlet'),
 ('Pressure', '[Psig]')]

In [ ]:
#df_4.rename(columns={'Flow Rate':'flow_rate_gpm','Differential Pressure [inch H2O]':'dp_0.5in','Unnamed: 2':'dp_annulus_1_e_100','Unnamed: 3':'dp_annulus_2_e_'})

In [83]:
columns = {'flow_rate_gpm','eccen','dp_h20','n','k','shear','di/do','fluid','Annulus'}

In [97]:
clean_data = pd.DataFrame()
clean_data['flow_rate_gpm']=pd.concat([df_4.iloc[1:]['Flow Rate'],df_5['Flow Rate'].iloc[1:]],axis=0)

In [100]:
# length of floe-rate-gpm
x =len(clean_data['flow_rate_gpm'])
x

27

In [104]:
clean_data['annulus'] = 'annulus_1'

In [137]:
(dim_annulus.iloc[0]['Di/Do'])

0.27

In [106]:
clean_data['ecc'] = 1

In [139]:
clean_data['di/do'] = dim_annulus.iloc[0]['Di/Do']

In [141]:
clean_data['test_fluid'] = 'XCD-PAC3'

In [145]:
clean_data['shear_pa']=comp_rheo_test_fluid_pipe_viso.iloc[6]['shear_pa']

In [148]:
clean_data['k']=comp_rheo_test_fluid_pipe_viso.iloc[6]['k_pasm'] 
clean_data['m']=comp_rheo_test_fluid_pipe_viso.iloc[6]['m']

In [163]:
clean_data['diff_p'] = pd.concat([df_4['Unnamed: 2'][1:],df_5['Unnamed: 2'][1:]],axis=0)

In [166]:
clean_data.reset_index()

,index,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
0,1,18.50,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,37.62
1,2,17.67,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,36.97
2,3,16.92,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,35.79
3,4,16.09,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,34.97
4,5,15.17,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,34.18
5,6,14.41,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,33.56
6,7,13.44,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,32.41
7,8,12.39,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,31.17
8,9,11.31,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,29.77
9,10,10.22,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,28.49
10,11,8.97,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,27.22
11,12,7.90,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,25.20
12,13,6.72,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,23.27
13,14,5.53,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,21.15
14,15,4.25,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,18.57
15,16,3.49,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,16.61
16,17,2.42,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,13.97
17,18,1.82,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,11.85
18,19,1.29,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,9.64
19,20,0.83,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,7.35
20,21,0.62,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,6.08
21,22,0.42,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,4.72
22,1,0.29,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,3.81
23,2,0.19,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,2.84
24,3,0.10,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,1.84
25,4,0.06,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,1.27
26,5,0.03,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,0.79

In [174]:
xcd_pac3_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd_pac3_annulus_2.columns

Index(['flow_rate_gpm', 'annulus', 'ecc', 'di/do', 'test_fluid', 'shear_pa',
       'k', 'm', 'diff_p'],
      dtype='object')

In [175]:
xcd_pac3_annulus_2['flow_rate_gpm'] = clean_data['flow_rate_gpm']

In [180]:
xcd_pac3_annulus_2['annulus'] = 'annulus_2'
xcd_pac3_annulus_2['ecc'] = 1
xcd_pac3_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd_pac3_annulus_2['test_fluid'] = clean_data['test_fluid']
xcd_pac3_annulus_2['shear_pa'] = clean_data['shear_pa']
xcd_pac3_annulus_2['k'] = clean_data['k']
xcd_pac3_annulus_2['m'] = clean_data['m']
xcd_pac3_annulus_2['diff_p'] = pd.concat([df_4['Unnamed: 3'][1:],df_5['Unnamed: 3'][1:]],axis=0)

In [182]:
xcd_pac3_annulus_2.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1         18.50  annulus_2    1   0.36   XCD-PAC3     0.00  0.99  0.48  48.34
2         17.67  annulus_2    1   0.36   XCD-PAC3     0.00  0.99  0.48  46.60
3         16.92  annulus_2    1   0.36   XCD-PAC3     0.00  0.99  0.48  44.87
4         16.09  annulus_2    1   0.36   XCD-PAC3     0.00  0.99  0.48  43.66
5         15.17  annulus_2    1   0.36   XCD-PAC3     0.00  0.99  0.48  41.77

In [183]:
xcd_pac3_annulus_4 = pd.DataFrame(columns=clean_data.columns)

In [186]:
xcd_pac3_annulus_4['flow_rate_gpm'] = clean_data['flow_rate_gpm']
xcd_pac3_annulus_4['annulus'] = 'annulus_4'
xcd_pac3_annulus_4['ecc'] = 1
xcd_pac3_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd_pac3_annulus_4['test_fluid'] = clean_data['test_fluid']
xcd_pac3_annulus_4['shear_pa'] = clean_data['shear_pa']
xcd_pac3_annulus_4['k'] = clean_data['k']
xcd_pac3_annulus_4['m'] = clean_data['m']
xcd_pac3_annulus_4['diff_p'] = pd.concat([df_4['Unnamed: 4'][1:],df_5['Unnamed: 4'][1:]],axis=0)

In [188]:
xcd_pac3_annulus_4.head()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
1,18.50,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1357.43
2,17.67,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1302.53
3,16.92,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1253.97
4,16.09,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1196.16
5,15.17,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1137.77

In [192]:
xcd_pac_3 = pd.concat([clean_data,xcd_pac3_annulus_2,xcd_pac3_annulus_4],axis=0)

In [194]:
xcd_pac_3.reset_index(drop=True)

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
0,18.50,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,37.62
1,17.67,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,36.97
2,16.92,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,35.79
3,16.09,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,34.97
4,15.17,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,34.18
5,14.41,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,33.56
6,13.44,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,32.41
7,12.39,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,31.17
8,11.31,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,29.77
9,10.22,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,28.49
10,8.97,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,27.22
11,7.90,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,25.20
12,6.72,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,23.27
13,5.53,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,21.15
14,4.25,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,18.57
15,3.49,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,16.61
16,2.42,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,13.97
17,1.82,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,11.85
18,1.29,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,9.64
19,0.83,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,7.35
20,0.62,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,6.08
21,0.42,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,4.72
22,0.29,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,3.81
23,0.19,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,2.84
24,0.10,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,1.84
25,0.06,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,1.27
26,0.03,annulus_1,1,0.27,XCD-PAC3,0.00,0.99,0.48,0.79
27,18.50,annulus_2,1,0.36,XCD-PAC3,0.00,0.99,0.48,48.34
28,17.67,annulus_2,1,0.36,XCD-PAC3,0.00,0.99,0.48,46.60
29,16.92,annulus_2,1,0.36,XCD-PAC3,0.00,0.99,0.48,44.87
...,...,...,...,...,...,...,...,...,...
51,0.10,annulus_2,1,0.36,XCD-PAC3,0.00,0.99,0.48,2.45
52,0.06,annulus_2,1,0.36,XCD-PAC3,0.00,0.99,0.48,1.77
53,0.03,annulus_2,1,0.36,XCD-PAC3,0.00,0.99,0.48,1.18
54,18.50,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1357.43
55,17.67,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1302.53
56,16.92,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1253.97
57,16.09,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1196.16
58,15.17,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,1137.77
59,14.41,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,877.25
60,13.44,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,833.37
61,12.39,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,785.20
62,11.31,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,731.90
63,10.22,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,689.87
64,8.97,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,646.17
65,7.90,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,598.80
66,6.72,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,549.59
67,5.53,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,495.07
68,4.25,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,429.44
69,3.49,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,392.19
70,2.42,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,328.02
71,1.82,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,286.03
72,1.29,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,244.49
73,0.83,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,199.39
74,0.62,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,174.09
75,0.42,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,145.82
76,0.29,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,121.00
77,0.19,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,99.31
78,0.10,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,70.55
79,0.06,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,55.00
80,0.03,annulus_4,1,0.76,XCD-PAC3,0.00,0.99,0.48,40.97

# completed till df_5 >>>> t_3 is final dataframe
xcd_pac_3 is final dataframe

In [199]:
df_6.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=75%),Annulus #2 \n(e=60%),Annulus #4 \n(e=80%),Inlet,Outlet,[Psig]
1,18.8728,414.06,48.24,62.56,1209.39,102.21,102.63,159.28
2,17.6558,390.20,46.41,59.96,1134.63,102.49,103.00,145.58
3,16.3346,370.08,44.29,57.59,1053.53,100.09,102.59,132.39
4,14.8779,344.76,42.56,55.03,983.99,103.02,101.66,116.72

In [242]:
comp_rheo_test_fluid_pipe_viso.loc[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['shear_pa'].tolist()[0]

'0.00'

In [212]:
df_6['Unnamed: 2'][1:].head()

1    48.24
2    46.41
3    44.29
4    42.56
5    39.92
Name: Unnamed: 2, dtype: object

In [246]:
xcd_pac6_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd_pac6_annulus_1['flow_rate_gpm'] = df_6['Flow Rate'][1:]
xcd_pac6_annulus_1['annulus'] = 'annulus_1'
xcd_pac6_annulus_1['ecc'] = 0.75
xcd_pac6_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd_pac6_annulus_1['test_fluid'] = 'XCD-PAC6'
xcd_pac6_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso.loc[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['shear_pa'].tolist()[0]
xcd_pac6_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['k_pasm'].tolist()[0]
xcd_pac6_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['m'].tolist()[0]
xcd_pac6_annulus_1['diff_p'] = df_6['Unnamed: 2'][1:]

In [247]:
xcd_pac6_annulus_1.head()

  flow_rate_gpm    annulus   ecc  di/do test_fluid shear_pa     k     m diff_p
1       18.8728  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  48.24
2       17.6558  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  46.41
3       16.3346  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  44.29
4       14.8779  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  42.56
5       13.0510  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  39.92

In [251]:
xcd_pac6_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd_pac6_annulus_2['flow_rate_gpm'] = df_6['Flow Rate'][1:]
xcd_pac6_annulus_2['annulus'] = 'annulus_2'
xcd_pac6_annulus_2['ecc'] = 0.60
xcd_pac6_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd_pac6_annulus_2['test_fluid'] = 'XCD-PAC6'
xcd_pac6_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['shear_pa'].tolist()[0]
xcd_pac6_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['k_pasm'].tolist()[0]
xcd_pac6_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['m'].tolist()[0]
xcd_pac6_annulus_2['diff_p'] = df_6['Unnamed: 3'][1:]

In [252]:
xcd_pac6_annulus_2.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       18.8728  annulus_2  0.6   0.36   XCD-PAC6     0.00  1.12  0.49  62.56
2       17.6558  annulus_2  0.6   0.36   XCD-PAC6     0.00  1.12  0.49  59.96
3       16.3346  annulus_2  0.6   0.36   XCD-PAC6     0.00  1.12  0.49  57.59
4       14.8779  annulus_2  0.6   0.36   XCD-PAC6     0.00  1.12  0.49  55.03
5       13.0510  annulus_2  0.6   0.36   XCD-PAC6     0.00  1.12  0.49  51.53

In [253]:
xcd_pac6_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd_pac6_annulus_4['flow_rate_gpm'] = df_6['Flow Rate'][1:]
xcd_pac6_annulus_4['annulus'] = 'annulus_4'
xcd_pac6_annulus_4['ecc'] = 0.80
xcd_pac6_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd_pac6_annulus_4['test_fluid'] = 'XCD-PAC6'
xcd_pac6_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['shear_pa'].tolist()[0]
xcd_pac6_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['k_pasm'].tolist()[0]
xcd_pac6_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC6')]['m'].tolist()[0]
xcd_pac6_annulus_4['diff_p'] = df_6['Unnamed: 4'][1:]

In [254]:
xcd_pac6_annulus_4.head()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
1,18.8728,annulus_4,0.8,0.76,XCD-PAC6,0.00,1.12,0.49,1209.39
2,17.6558,annulus_4,0.8,0.76,XCD-PAC6,0.00,1.12,0.49,1134.63
3,16.3346,annulus_4,0.8,0.76,XCD-PAC6,0.00,1.12,0.49,1053.53
4,14.8779,annulus_4,0.8,0.76,XCD-PAC6,0.00,1.12,0.49,983.99
5,13.0510,annulus_4,0.8,0.76,XCD-PAC6,0.00,1.12,0.49,888.92

In [255]:
# combining all the xcd_pac6 into final xcd_pac6

In [262]:
xcd_pac_6 = pd.concat([xcd_pac6_annulus_1,xcd_pac6_annulus_2,xcd_pac6_annulus_4],axis=0)
xcd_pac_6=xcd_pac_6.reset_index(drop=True)

In [265]:
xcd_pac_6.head()

  flow_rate_gpm    annulus   ecc  di/do test_fluid shear_pa     k     m diff_p
0       18.8728  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  48.24
1       17.6558  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  46.41
2       16.3346  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  44.29
3       14.8779  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  42.56
4       13.0510  annulus_1  0.75   0.27   XCD-PAC6     0.00  1.12  0.49  39.92

# completed till XCD-PAC6 >>>> df_6
# data is stored in xcd_pac_6

In [277]:
df_7.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=65%),Annulus #2 \n(e=00%),Annulus #4 \n(e=85%),Inlet,Outlet,[Psig]
1,17.7976,394.72,54.57,89.03,1142.86,98.00,99.24,149.12
2,15.9822,366.33,51.44,84.66,1049.43,95.87,98.34,129.61
3,14.7047,350.66,49.33,81.57,986.39,97.28,98.87,121.72
4,13.1647,331.34,46.09,77.33,899.01,96.34,97.36,107.40

In [278]:
df_8.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=65%),Annulus #2 \n(e=00%),Annulus #4 \n(e=85%),Inlet,Outlet,[Psig]
1,5.7304,224.28,31.60,51.96,533.34,95.68,97.33,56.11
2,4.5666,203.01,28.36,46.78,478.41,96.54,97.75,45.59
3,3.0153,169.73,22.90,38.06,394.79,95.46,93.94,41.12
4,1.9701,142.04,18.34,30.68,328.50,94.03,96.09,33.60

df_7 and df_8 are of the same table 
fluid type : XCD_PAC7

In [284]:
xcd_pac7_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd_pac7_annulus_1['flow_rate_gpm'] = pd.concat([df_7['Flow Rate'][1:],df_8['Flow Rate'][1:]],axis=0)
xcd_pac7_annulus_1['annulus'] = 'annulus_1'
xcd_pac7_annulus_1['ecc'] = 0.65
xcd_pac7_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd_pac7_annulus_1['test_fluid'] = 'XCD-PAC7'
xcd_pac7_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['shear_pa'].tolist()[0]
xcd_pac7_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['k_pasm'].tolist()[0]
xcd_pac7_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['m'].tolist()[0]
xcd_pac7_annulus_1['diff_p'] = pd.concat([df_7['Unnamed: 2'][1:],df_8['Unnamed: 2'][1:]],axis=0)
xcd_pac7_annulus_1.head()

  flow_rate_gpm    annulus   ecc  di/do test_fluid shear_pa     k     m diff_p
1       17.7976  annulus_1  0.65   0.27   XCD-PAC7     0.00  1.40  0.46  54.57
2       15.9822  annulus_1  0.65   0.27   XCD-PAC7     0.00  1.40  0.46  51.44
3       14.7047  annulus_1  0.65   0.27   XCD-PAC7     0.00  1.40  0.46  49.33
4       13.1647  annulus_1  0.65   0.27   XCD-PAC7     0.00  1.40  0.46  46.09
5       11.5520  annulus_1  0.65   0.27   XCD-PAC7     0.00  1.40  0.46  43.36

In [285]:
xcd_pac7_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd_pac7_annulus_2['flow_rate_gpm'] = pd.concat([df_7['Flow Rate'][1:],df_8['Flow Rate'][1:]],axis=0)
xcd_pac7_annulus_2['annulus'] = 'annulus_2'
xcd_pac7_annulus_2['ecc'] = 0.0
xcd_pac7_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd_pac7_annulus_2['test_fluid'] = 'XCD-PAC7'
xcd_pac7_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['shear_pa'].tolist()[0]
xcd_pac7_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['k_pasm'].tolist()[0]
xcd_pac7_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['m'].tolist()[0]
xcd_pac7_annulus_2['diff_p'] = pd.concat([df_7['Unnamed: 3'][1:],df_8['Unnamed: 3'][1:]],axis=0)
xcd_pac7_annulus_2.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       17.7976  annulus_2  0.0   0.36   XCD-PAC7     0.00  1.40  0.46  89.03
2       15.9822  annulus_2  0.0   0.36   XCD-PAC7     0.00  1.40  0.46  84.66
3       14.7047  annulus_2  0.0   0.36   XCD-PAC7     0.00  1.40  0.46  81.57
4       13.1647  annulus_2  0.0   0.36   XCD-PAC7     0.00  1.40  0.46  77.33
5       11.5520  annulus_2  0.0   0.36   XCD-PAC7     0.00  1.40  0.46  72.49

In [286]:
xcd_pac7_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd_pac7_annulus_4['flow_rate_gpm'] = pd.concat([df_7['Flow Rate'][1:],df_8['Flow Rate'][1:]],axis=0)
xcd_pac7_annulus_4['annulus'] = 'annulus_4'
xcd_pac7_annulus_4['ecc'] = 0.85
xcd_pac7_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd_pac7_annulus_4['test_fluid'] = 'XCD-PAC7'
xcd_pac7_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['shear_pa'].tolist()[0]
xcd_pac7_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['k_pasm'].tolist()[0]
xcd_pac7_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC7')]['m'].tolist()[0]
xcd_pac7_annulus_4['diff_p'] = pd.concat([df_7['Unnamed: 4'][1:],df_8['Unnamed: 4'][1:]],axis=0)
xcd_pac7_annulus_4.head()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
1,17.7976,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,1142.86
2,15.9822,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,1049.43
3,14.7047,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,986.39
4,13.1647,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,899.01
5,11.5520,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,805.13

In [287]:
xcd_pac_7 = pd.concat([xcd_pac7_annulus_1,xcd_pac7_annulus_2,xcd_pac7_annulus_4],axis=0)
xcd_pac_7 = xcd_pac_7.reset_index(drop=True)

In [288]:
xcd_pac_7.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
52,0.4999,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,179.50
53,0.4580,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,172.49
54,0.3367,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,148.72
55,0.2283,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,124.98
56,0.1536,annulus_4,0.85,0.76,XCD-PAC7,0.00,1.40,0.46,102.32

# Done for XCD-PAC7 fluid 
# xcd_pac7_annulus_1 > xcd_pac7_annulus_2 > xcd_pac7_annulus_4 >> stored in xcd_pac_7
# done till df_8

In [289]:
# proceding with df_9 onwards
# fluid type = XCD1
# Annulus #3
# eccentricity = 1

In [291]:
df_9.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,21.84,420.96,89.12,57.98,30.59,97.47,96.52,85.28
2,20.06,377.02,84.16,55.32,29.44,97.04,96.82,74.75
3,18.87,349.16,80.56,53.58,28.60,95.01,96.51,66.76
4,17.68,323.26,78.03,51.73,28.11,94.66,96.38,60.34

In [293]:
xcd1_annulus_3 = pd.DataFrame(columns=clean_data.columns)
xcd1_annulus_3['flow_rate_gpm'] = df_9['Flow Rate'][1:]
xcd1_annulus_3['annulus'] = 'annulus_3'
xcd1_annulus_3['ecc'] = 1
xcd1_annulus_3['di/do'] = dim_annulus['Di/Do'][3]
xcd1_annulus_3['test_fluid'] = 'XCD1'
xcd1_annulus_3['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD1')]['shear_pa'].tolist()[0]
xcd1_annulus_3['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD1')]['k_pasm'].tolist()[0]
xcd1_annulus_3['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD1')]['m'].tolist()[0]
xcd1_annulus_3['diff_p'] = df_9['Unnamed: 3'][1:]
xcd1_annulus_3.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1         21.84  annulus_3    1   0.49       XCD1     4.30  1.29  0.38  57.98
2         20.06  annulus_3    1   0.49       XCD1     4.30  1.29  0.38  55.32
3         18.87  annulus_3    1   0.49       XCD1     4.30  1.29  0.38  53.58
4         17.68  annulus_3    1   0.49       XCD1     4.30  1.29  0.38  51.73
5         16.44  annulus_3    1   0.49       XCD1     4.30  1.29  0.38  50.60

# Completed df_9 and saved it as xcd1_annulus_3

In [294]:
df_10.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,21.704,423.50,118.58,81.66,45.25,101.67,101.93,91.98
2,20.517,407.20,115.84,80.59,45.62,102.79,101.92,86.84
3,19.364,373.92,112.82,79.30,46.13,101.00,101.03,79.07
4,18.143,339.01,110.17,78.59,45.91,101.30,100.87,72.55

In [295]:
df_11.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,13.204,289.88,101.86,74.10,44.44,101.20,101.34,54.34
2,12.464,286.16,100.38,74.08,44.64,100.43,100.86,50.88
3,10.709,268.26,97.92,72.62,43.60,100.19,101.01,47.04
4,9.451,252.25,95.35,71.17,43.06,99.35,100.80,42.08

In [296]:
# proceding with df_10 and df_11
# fluid type = XCD2
# Annulus #3
# eccentricity = 1

In [297]:
xcd2_annulus_3 = pd.DataFrame(columns=clean_data.columns)
xcd2_annulus_3['flow_rate_gpm'] = pd.concat([df_10['Flow Rate'][1:],df_11['Flow Rate'][1:]],axis=0)
xcd2_annulus_3['annulus'] = 'annulus_3'
xcd2_annulus_3['ecc'] = 1
xcd2_annulus_3['di/do'] = dim_annulus['Di/Do'][3]
xcd2_annulus_3['test_fluid'] = 'XCD2'
xcd2_annulus_3['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD2')]['shear_pa'].tolist()[0]
xcd2_annulus_3['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD2')]['k_pasm'].tolist()[0]
xcd2_annulus_3['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD2')]['m'].tolist()[0]
xcd2_annulus_3['diff_p'] = pd.concat([df_10['Unnamed: 4'][1:],df_11['Unnamed: 4'][1:]],axis=0)
xcd2_annulus_3.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1        21.704  annulus_3    1   0.49       XCD2    11.30  1.85  0.35  45.25
2        20.517  annulus_3    1   0.49       XCD2    11.30  1.85  0.35  45.62
3        19.364  annulus_3    1   0.49       XCD2    11.30  1.85  0.35  46.13
4        18.143  annulus_3    1   0.49       XCD2    11.30  1.85  0.35  45.91
5        16.930  annulus_3    1   0.49       XCD2    11.30  1.85  0.35  45.74

# df_10 and df_11 >> saved in xcd2_annulus
# completed df_10 and df_11

In [298]:
# proceding with df_12
# fluid type = XCD3
# Annulus #3
# eccentricity = 1

In [299]:
df_12.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,21.48,474.20,54.27,98.14,139.13,93.98,94.99,100.24
2,20.35,454.81,54.05,97.11,136.29,96.45,95.27,95.04
3,19.21,431.96,54.24,95.73,134.06,94.59,95.18,88.06
4,18.04,411.00,54.03,94.63,130.73,94.87,94.65,82.40

In [300]:
xcd3_annulus_3 = pd.DataFrame(columns=clean_data.columns)
xcd3_annulus_3['flow_rate_gpm'] = df_12['Flow Rate'][1:]
xcd3_annulus_3['annulus'] = 'annulus_3'
xcd3_annulus_3['ecc'] = 1
xcd3_annulus_3['di/do'] = dim_annulus['Di/Do'][3]
xcd3_annulus_3['test_fluid'] = 'XCD3'
xcd3_annulus_3['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD3')]['shear_pa'].tolist()[0]
xcd3_annulus_3['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD3')]['k_pasm'].tolist()[0]
xcd3_annulus_3['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD3')]['m'].tolist()[0]
xcd3_annulus_3['diff_p'] = df_12['Unnamed: 3'][1:]
xcd3_annulus_3.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1         21.48  annulus_3    1   0.49       XCD3    14.40  1.56  0.39  98.14
2         20.35  annulus_3    1   0.49       XCD3    14.40  1.56  0.39  97.11
3         19.21  annulus_3    1   0.49       XCD3    14.40  1.56  0.39  95.73
4         18.04  annulus_3    1   0.49       XCD3    14.40  1.56  0.39  94.63
5         16.82  annulus_3    1   0.49       XCD3    14.40  1.56  0.39  92.75

# Done till df_12 and saved in xcd3_annulus_3

In [301]:
# proceding with df_13 and df_14 as they are from same table
# fluid type = XCD4
# Annulus #3
# eccentricity = 1

In [302]:
df_13.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,21.91,331.98,80.06,51.49,24.16,110.11,110.88,78.70
2,20.08,302.59,76.12,50.18,24.88,109.76,109.47,68.95
3,18.84,283.42,73.17,49.39,25.61,107.62,109.05,62.67
4,17.64,267.59,70.96,48.22,25.94,106.96,108.41,57.06

In [303]:
df_14.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,16.39,247.89,69.11,47.25,25.66,109.26,108.60,52.85
2,15.16,229.28,67.54,46.20,25.47,108.59,108.59,46.91
3,13.91,214.61,65.38,44.87,25.32,108.47,107.90,41.46
4,12.66,191.39,62.51,44.01,25.06,107.10,107.83,38.07

In [305]:
xcd4_annulus_3 = pd.DataFrame(columns=clean_data.columns)
xcd4_annulus_3['flow_rate_gpm'] = pd.concat([df_13['Flow Rate'][1:],df_14['Flow Rate'][1:]],axis=0)
xcd4_annulus_3['annulus'] = 'annulus_3'
xcd4_annulus_3['ecc'] = 1
xcd4_annulus_3['di/do'] = dim_annulus['Di/Do'][3]
xcd4_annulus_3['test_fluid'] = 'XCD4'
xcd4_annulus_3['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD4')]['shear_pa'].tolist()[0]
xcd4_annulus_3['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD4')]['k_pasm'].tolist()[0]
xcd4_annulus_3['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD4')]['m'].tolist()[0]
xcd4_annulus_3['diff_p'] = pd.concat([df_13['Unnamed: 3'][1:],df_14['Unnamed: 3'][1:]],axis=0)
xcd4_annulus_3.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1         21.91  annulus_3    1   0.49       XCD4     5.10  1.26  0.36  51.49
2         20.08  annulus_3    1   0.49       XCD4     5.10  1.26  0.36  50.18
3         18.84  annulus_3    1   0.49       XCD4     5.10  1.26  0.36  49.39
4         17.64  annulus_3    1   0.49       XCD4     5.10  1.26  0.36  48.22
1         16.39  annulus_3    1   0.49       XCD4     5.10  1.26  0.36  47.25

# done till df_13 and df_14 >> saved in xcd4_annulus_3

In [306]:
# proceding with df_15
# fluid type = XCD-PAC1
# Annulus #3
# eccentricity = 1

In [307]:
df_15.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,21.52,508.09,131.50,88.11,45.64,94.70,94.31,98.16
2,20.39,487.46,129.54,86.87,44.84,94.95,94.64,92.07
3,19.25,442.45,126.54,85.05,44.60,92.68,93.29,84.25
4,18.06,423.41,122.34,83.00,43.87,91.55,93.03,77.19

In [308]:
xcd_pac1_annulus_3 = pd.DataFrame(columns=clean_data.columns)
xcd_pac1_annulus_3['flow_rate_gpm'] = df_15['Flow Rate'][1:]
xcd_pac1_annulus_3['annulus'] = 'annulus_3'
xcd_pac1_annulus_3['ecc'] = 1
xcd_pac1_annulus_3['di/do'] = dim_annulus['Di/Do'][3]
xcd_pac1_annulus_3['test_fluid'] = 'XCD-PAC1'
xcd_pac1_annulus_3['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC1')]['shear_pa'].tolist()[0]
xcd_pac1_annulus_3['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC1')]['k_pasm'].tolist()[0]
xcd_pac1_annulus_3['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC1')]['m'].tolist()[0]
xcd_pac1_annulus_3['diff_p'] = df_15['Unnamed: 3'][1:]
xcd_pac1_annulus_3.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1         21.52  annulus_3    1   0.49   XCD-PAC1     7.50  1.07  0.47  88.11
2         20.39  annulus_3    1   0.49   XCD-PAC1     7.50  1.07  0.47  86.87
3         19.25  annulus_3    1   0.49   XCD-PAC1     7.50  1.07  0.47  85.05
4         18.06  annulus_3    1   0.49   XCD-PAC1     7.50  1.07  0.47  83.00
5         16.87  annulus_3    1   0.49   XCD-PAC1     7.50  1.07  0.47  81.54

# Done till df_15 saved in >> xcd_pac1_annulus_3

In [309]:
df_16.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,0.824 Pipe,Annulus #3 \n(e=100%),1.38 Pipe,Inlet,Outlet,[Psig]
1,20.84,674.34,205.07,145.02,74.93,98.15,98.94,120.99
2,19.80,638.64,200.33,141.41,74.10,99.19,99.67,114.10
3,18.73,621.46,195.69,138.22,72.80,99.65,100.26,107.23
4,17.62,597.82,190.55,135.23,71.46,98.87,99.63,99.04

In [310]:
# proceding with df_16
# fluid type = XCD-PAC2
# Annulus #3
# eccentricity = 1

In [311]:
xcd_pac2_annulus_3 = pd.DataFrame(columns=clean_data.columns)
xcd_pac2_annulus_3['flow_rate_gpm'] = df_16['Flow Rate'][1:]
xcd_pac2_annulus_3['annulus'] = 'annulus_3'
xcd_pac2_annulus_3['ecc'] = 1
xcd_pac2_annulus_3['di/do'] = dim_annulus['Di/Do'][3]
xcd_pac2_annulus_3['test_fluid'] = 'XCD-PAC2'
xcd_pac2_annulus_3['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC2')]['shear_pa'].tolist()[0]
xcd_pac2_annulus_3['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC2')]['k_pasm'].tolist()[0]
xcd_pac2_annulus_3['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC2')]['m'].tolist()[0]
xcd_pac2_annulus_3['diff_p'] = df_16['Unnamed: 3'][1:]
xcd_pac2_annulus_3.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m  diff_p
1         20.84  annulus_3    1   0.49   XCD-PAC2     4.80  4.49  0.35  145.02
2         19.80  annulus_3    1   0.49   XCD-PAC2     4.80  4.49  0.35  141.41
3         18.73  annulus_3    1   0.49   XCD-PAC2     4.80  4.49  0.35  138.22
4         17.62  annulus_3    1   0.49   XCD-PAC2     4.80  4.49  0.35  135.23
5         16.51  annulus_3    1   0.49   XCD-PAC2     4.80  4.49  0.35  132.14

# completed till df_16 and saved in xcd_pac2_annulus_3

In [312]:
df_17.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,19.1784,361.19,42.02,49.21,1386.48,109.93,109.58,157.50
2,18.2196,337.19,40.93,47.71,1298.26,109.85,111.18,149.81
3,17.4335,316.72,40.04,46.61,1237.65,107.78,110.95,133.29
4,16.5385,304.84,39.37,45.68,1171.31,108.82,110.26,124.82

In [313]:
df_18.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,0.3690,72.37,19.50,21.77,160.37,102.03,103.42,19.09
2,0.2265,65.83,18.16,20.37,140.70,102.38,101.47,16.99
3,0.0841,55.01,15.41,17.65,112.96,100.64,103.86,14.55
4,0.0579,51.92,14.64,16.53,105.53,100.31,103.36,13.55

In [314]:
# proceding with df_17 and df_18 as they are from same table
# fluid type = XCD5
# Annulus #1, #2, #4
# eccentricity = 1 ; 1 ; 1

In [315]:
xcd5_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd5_annulus_1['flow_rate_gpm'] = pd.concat([df_17['Flow Rate'][1:],df_18['Flow Rate'][1:]],axis=0)
xcd5_annulus_1['annulus'] = 'annulus_1'
xcd5_annulus_1['ecc'] = 1
xcd5_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd5_annulus_1['test_fluid'] = 'XCD5'
xcd5_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['shear_pa'].tolist()[0]
xcd5_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['k_pasm'].tolist()[0]
xcd5_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['m'].tolist()[0]
xcd5_annulus_1['diff_p'] = pd.concat([df_17['Unnamed: 2'][1:],df_18['Unnamed: 2'][1:]],axis=0)
xcd5_annulus_1.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       19.1784  annulus_1    1   0.27       XCD5     6.50  0.64  0.48  42.02
2       18.2196  annulus_1    1   0.27       XCD5     6.50  0.64  0.48  40.93
3       17.4335  annulus_1    1   0.27       XCD5     6.50  0.64  0.48  40.04
4       16.5385  annulus_1    1   0.27       XCD5     6.50  0.64  0.48  39.37
5       15.5123  annulus_1    1   0.27       XCD5     6.50  0.64  0.48  38.43

In [316]:
xcd5_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd5_annulus_2['flow_rate_gpm'] = pd.concat([df_17['Flow Rate'][1:],df_18['Flow Rate'][1:]],axis=0)
xcd5_annulus_2['annulus'] = 'annulus_2'
xcd5_annulus_2['ecc'] = 1
xcd5_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd5_annulus_2['test_fluid'] = 'XCD5'
xcd5_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['shear_pa'].tolist()[0]
xcd5_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['k_pasm'].tolist()[0]
xcd5_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['m'].tolist()[0]
xcd5_annulus_2['diff_p'] = pd.concat([df_17['Unnamed: 3'][1:],df_18['Unnamed: 3'][1:]],axis=0)
xcd5_annulus_2.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       19.1784  annulus_2    1   0.36       XCD5     6.50  0.64  0.48  49.21
2       18.2196  annulus_2    1   0.36       XCD5     6.50  0.64  0.48  47.71
3       17.4335  annulus_2    1   0.36       XCD5     6.50  0.64  0.48  46.61
4       16.5385  annulus_2    1   0.36       XCD5     6.50  0.64  0.48  45.68
5       15.5123  annulus_2    1   0.36       XCD5     6.50  0.64  0.48  44.69

In [317]:
xcd5_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd5_annulus_4['flow_rate_gpm'] = pd.concat([df_17['Flow Rate'][1:],df_18['Flow Rate'][1:]],axis=0)
xcd5_annulus_4['annulus'] = 'annulus_4'
xcd5_annulus_4['ecc'] = 1
xcd5_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd5_annulus_4['test_fluid'] = 'XCD5'
xcd5_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['shear_pa'].tolist()[0]
xcd5_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['k_pasm'].tolist()[0]
xcd5_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD5')]['m'].tolist()[0]
xcd5_annulus_4['diff_p'] = pd.concat([df_17['Unnamed: 4'][1:],df_18['Unnamed: 4'][1:]],axis=0)
xcd5_annulus_4.head()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
1,19.1784,annulus_4,1,0.76,XCD5,6.50,0.64,0.48,1386.48
2,18.2196,annulus_4,1,0.76,XCD5,6.50,0.64,0.48,1298.26
3,17.4335,annulus_4,1,0.76,XCD5,6.50,0.64,0.48,1237.65
4,16.5385,annulus_4,1,0.76,XCD5,6.50,0.64,0.48,1171.31
5,15.5123,annulus_4,1,0.76,XCD5,6.50,0.64,0.48,1090.01

In [319]:
xcd_5 = pd.concat([xcd5_annulus_1,xcd5_annulus_2,xcd5_annulus_4],axis=0)
xcd_5.tail()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m  diff_p
1        0.3690  annulus_4    1   0.76       XCD5     6.50  0.64  0.48  160.37
2        0.2265  annulus_4    1   0.76       XCD5     6.50  0.64  0.48  140.70
3        0.0841  annulus_4    1   0.76       XCD5     6.50  0.64  0.48  112.96
4        0.0579  annulus_4    1   0.76       XCD5     6.50  0.64  0.48  105.53
5        0.0301  annulus_4    1   0.76       XCD5     6.50  0.64  0.48   94.43

# Done with df_17 and df_18 saved in >> xcd_5

In [320]:
df_19.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,18.8230,430.67,61.45,71.93,1284.47,112.74,112.85,166.29
2,17.0730,397.17,59.20,69.08,1161.58,111.21,112.23,148.23
3,15.3644,367.75,57.37,66.74,1057.76,109.79,112.44,131.14
4,13.2562,341.65,55.52,64.31,942.87,109.87,111.98,111.96

In [321]:
# proceding with df_19
# fluid type = XCD6
# Annulus #1, #2, #4
# eccentricity = 1 ; 1 ; 1

In [322]:
xcd6_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd6_annulus_1['flow_rate_gpm'] = df_19['Flow Rate'][1:]
xcd6_annulus_1['annulus'] = 'annulus_1'
xcd6_annulus_1['ecc'] = 1
xcd6_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd6_annulus_1['test_fluid'] = 'XCD6'
xcd6_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['shear_pa'].tolist()[0]
xcd6_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['k_pasm'].tolist()[0]
xcd6_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['m'].tolist()[0]
xcd6_annulus_1['diff_p'] = df_19['Unnamed: 2'][1:]
xcd6_annulus_1.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       18.8230  annulus_1    1   0.27       XCD6    12.60  1.77  0.38  61.45
2       17.0730  annulus_1    1   0.27       XCD6    12.60  1.77  0.38  59.20
3       15.3644  annulus_1    1   0.27       XCD6    12.60  1.77  0.38  57.37
4       13.2562  annulus_1    1   0.27       XCD6    12.60  1.77  0.38  55.52
5       10.8499  annulus_1    1   0.27       XCD6    12.60  1.77  0.38  53.49

In [323]:
xcd6_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd6_annulus_2['flow_rate_gpm'] = df_19['Flow Rate'][1:]
xcd6_annulus_2['annulus'] = 'annulus_2'
xcd6_annulus_2['ecc'] = 1
xcd6_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd6_annulus_2['test_fluid'] = 'XCD6'
xcd6_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['shear_pa'].tolist()[0]
xcd6_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['k_pasm'].tolist()[0]
xcd6_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['m'].tolist()[0]
xcd6_annulus_2['diff_p'] = df_19['Unnamed: 3'][1:]
xcd6_annulus_2.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       18.8230  annulus_2    1   0.36       XCD6    12.60  1.77  0.38  71.93
2       17.0730  annulus_2    1   0.36       XCD6    12.60  1.77  0.38  69.08
3       15.3644  annulus_2    1   0.36       XCD6    12.60  1.77  0.38  66.74
4       13.2562  annulus_2    1   0.36       XCD6    12.60  1.77  0.38  64.31
5       10.8499  annulus_2    1   0.36       XCD6    12.60  1.77  0.38  62.04

In [324]:
xcd6_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd6_annulus_4['flow_rate_gpm'] = df_19['Flow Rate'][1:]
xcd6_annulus_4['annulus'] = 'annulus_4'
xcd6_annulus_4['ecc'] = 1
xcd6_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd6_annulus_4['test_fluid'] = 'XCD6'
xcd6_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['shear_pa'].tolist()[0]
xcd6_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['k_pasm'].tolist()[0]
xcd6_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD6')]['m'].tolist()[0]
xcd6_annulus_4['diff_p'] = df_19['Unnamed: 4'][1:]
xcd6_annulus_4.head()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
1,18.8230,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,1284.47
2,17.0730,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,1161.58
3,15.3644,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,1057.76
4,13.2562,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,942.87
5,10.8499,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,825.66

In [327]:
xcd_6 = pd.concat([xcd6_annulus_1,xcd6_annulus_2,xcd6_annulus_4],axis=0)
xcd_6.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
16,0.7982,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,298.36
17,0.4871,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,275.34
18,0.2011,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,266.32
19,0.0886,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,206.03
20,0.0312,annulus_4,1,0.76,XCD6,12.60,1.77,0.38,181.54

# Done with df_19 saved to >> xcd_6

In [328]:
df_20.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,18.6763,353.34,39.06,46.11,1274.33,114.54,114.69,150.99
2,16.6691,310.43,37.76,44.28,1135.76,113.14,113.65,126.47
3,15.5698,287.85,37.18,43.79,1056.55,113.17,113.64,117.84
4,13.5956,254.19,36.03,41.95,916.84,113.19,113.83,102.52

In [329]:
df_21.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,1.6954,108.32,24.98,28.16,246.66,110.85,110.20,28.57
2,1.1221,97.15,23.49,26.55,213.26,107.96,108.45,25.58
3,0.5075,79.40,20.85,22.38,170.20,109.42,107.81,20.77
4,0.5411,75.89,19.91,21.93,168.62,105.68,107.18,18.95

In [330]:
# proceding with df_20 and df_21 as they are from same table
# fluid type = XCD7
# Annulus #1, #2, #4
# eccentricity = 1 ; 1 ; 1

In [331]:
xcd7_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd7_annulus_1['flow_rate_gpm'] = pd.concat([df_20['Flow Rate'][1:],df_21['Flow Rate'][1:]],axis=0)
xcd7_annulus_1['annulus'] = 'annulus_1'
xcd7_annulus_1['ecc'] = 1
xcd7_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd7_annulus_1['test_fluid'] = 'XCD7'
xcd7_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['shear_pa'].tolist()[0]
xcd7_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['k_pasm'].tolist()[0]
xcd7_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['m'].tolist()[0]
xcd7_annulus_1['diff_p'] = pd.concat([df_20['Unnamed: 2'][1:],df_21['Unnamed: 2'][1:]],axis=0)
xcd7_annulus_1.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       18.6763  annulus_1    1   0.27       XCD7     6.40  0.81  0.45  39.06
2       16.6691  annulus_1    1   0.27       XCD7     6.40  0.81  0.45  37.76
3       15.5698  annulus_1    1   0.27       XCD7     6.40  0.81  0.45  37.18
4       13.5956  annulus_1    1   0.27       XCD7     6.40  0.81  0.45  36.03
5       11.3115  annulus_1    1   0.27       XCD7     6.40  0.81  0.45  34.74

In [332]:
xcd7_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd7_annulus_2['flow_rate_gpm'] = pd.concat([df_20['Flow Rate'][1:],df_21['Flow Rate'][1:]],axis=0)
xcd7_annulus_2['annulus'] = 'annulus_2'
xcd7_annulus_2['ecc'] = 1
xcd7_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd7_annulus_2['test_fluid'] = 'XCD7'
xcd7_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['shear_pa'].tolist()[0]
xcd7_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['k_pasm'].tolist()[0]
xcd7_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['m'].tolist()[0]
xcd7_annulus_2['diff_p'] = pd.concat([df_20['Unnamed: 3'][1:],df_21['Unnamed: 3'][1:]],axis=0)
xcd7_annulus_2.head()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m diff_p
1       18.6763  annulus_2    1   0.36       XCD7     6.40  0.81  0.45  46.11
2       16.6691  annulus_2    1   0.36       XCD7     6.40  0.81  0.45  44.28
3       15.5698  annulus_2    1   0.36       XCD7     6.40  0.81  0.45  43.79
4       13.5956  annulus_2    1   0.36       XCD7     6.40  0.81  0.45  41.95
5       11.3115  annulus_2    1   0.36       XCD7     6.40  0.81  0.45  39.99

In [333]:
xcd7_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd7_annulus_4['flow_rate_gpm'] = pd.concat([df_20['Flow Rate'][1:],df_21['Flow Rate'][1:]],axis=0)
xcd7_annulus_4['annulus'] = 'annulus_4'
xcd7_annulus_4['ecc'] = 1
xcd7_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd7_annulus_4['test_fluid'] = 'XCD7'
xcd7_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['shear_pa'].tolist()[0]
xcd7_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['k_pasm'].tolist()[0]
xcd7_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD7')]['m'].tolist()[0]
xcd7_annulus_4['diff_p'] = pd.concat([df_20['Unnamed: 4'][1:],df_21['Unnamed: 4'][1:]],axis=0)
xcd7_annulus_4.head()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
1,18.6763,annulus_4,1,0.76,XCD7,6.40,0.81,0.45,1274.33
2,16.6691,annulus_4,1,0.76,XCD7,6.40,0.81,0.45,1135.76
3,15.5698,annulus_4,1,0.76,XCD7,6.40,0.81,0.45,1056.55
4,13.5956,annulus_4,1,0.76,XCD7,6.40,0.81,0.45,916.84
5,11.3115,annulus_4,1,0.76,XCD7,6.40,0.81,0.45,614.68

In [335]:
xcd_7 = pd.concat([xcd7_annulus_1,xcd7_annulus_2,xcd7_annulus_4],axis=0)
xcd_7.tail()

  flow_rate_gpm    annulus  ecc  di/do test_fluid shear_pa     k     m  diff_p
4        0.5411  annulus_4    1   0.76       XCD7     6.40  0.81  0.45  168.62
5        0.3160  annulus_4    1   0.76       XCD7     6.40  0.81  0.45  143.38
6        0.1716  annulus_4    1   0.76       XCD7     6.40  0.81  0.45  118.80
7        0.0911  annulus_4    1   0.76       XCD7     6.40  0.81  0.45  104.89
8        0.0287  annulus_4    1   0.76       XCD7     6.40  0.81  0.45   86.61

# df_20, df_21 done and saved in >> xcd_7

In [338]:
df_22.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,18.2748,316.82,32.35,38.46,1179.08,90.56,91.61,142.39
2,16.0520,275.85,30.96,36.55,1021.42,90.89,90.48,113.34
3,14.4016,247.21,29.98,35.03,915.32,91.06,91.91,102.21
4,12.2966,215.92,28.66,33.45,608.63,89.41,90.31,79.73

In [339]:
# proceding with df_22
# fluid type = XCD8
# Annulus #1, #2, #4
# eccentricity = 1 ; 1 ; 1

In [341]:
# annulus 1
xcd8_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd8_annulus_1['flow_rate_gpm'] = df_22['Flow Rate'][1:]
xcd8_annulus_1['annulus'] = 'annulus_1'
xcd8_annulus_1['ecc'] = 1
xcd8_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd8_annulus_1['test_fluid'] = 'XCD8'
xcd8_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['shear_pa'].tolist()[0]
xcd8_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['k_pasm'].tolist()[0]
xcd8_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['m'].tolist()[0]
xcd8_annulus_1['diff_p'] = df_22['Unnamed: 2'][1:]

#annulus 2
xcd8_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd8_annulus_2['flow_rate_gpm'] = df_22['Flow Rate'][1:]
xcd8_annulus_2['annulus'] = 'annulus_2'
xcd8_annulus_2['ecc'] = 1
xcd8_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd8_annulus_2['test_fluid'] = 'XCD8'
xcd8_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['shear_pa'].tolist()[0]
xcd8_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['k_pasm'].tolist()[0]
xcd8_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['m'].tolist()[0]
xcd8_annulus_2['diff_p'] = df_22['Unnamed: 3'][1:]

# annulus 4
xcd8_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd8_annulus_4['flow_rate_gpm'] = df_22['Flow Rate'][1:]
xcd8_annulus_4['annulus'] = 'annulus_4'
xcd8_annulus_4['ecc'] = 1
xcd8_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd8_annulus_4['test_fluid'] = 'XCD8'
xcd8_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['shear_pa'].tolist()[0]
xcd8_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['k_pasm'].tolist()[0]
xcd8_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD8')]['m'].tolist()[0]
xcd8_annulus_4['diff_p'] = df_22['Unnamed: 4'][1:]

# concat all the data
xcd_8 = pd.concat([xcd8_annulus_1,xcd8_annulus_2,xcd8_annulus_4],axis=0)
xcd_8.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
19,0.3790,annulus_4,1,0.76,XCD8,4.90,0.70,0.45,124.34
20,0.2328,annulus_4,1,0.76,XCD8,4.90,0.70,0.45,110.30
21,0.1317,annulus_4,1,0.76,XCD8,4.90,0.70,0.45,94.31
22,0.0670,annulus_4,1,0.76,XCD8,4.90,0.70,0.45,82.54
23,0.0371,annulus_4,1,0.76,XCD8,4.90,0.70,0.45,70.73

# Done df_22 and saved >> xcd_8

In [342]:
df_23.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,16.4815,560.65,75.93,91.67,1531.38,92.05,93.25,178.49
2,14.9697,521.97,72.90,87.46,1413.11,93.07,93.52,165.21
3,13.7136,496.09,70.66,84.30,1325.23,90.85,93.31,146.77
4,12.4359,472.47,68.45,81.55,1243.07,92.57,92.21,135.59

In [343]:
df_24.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=100%),Annulus #2 \n(e=100%),Annulus #4 \n(e=100%),Inlet,Outlet,[Psig]
1,8.5713,398.69,61.36,72.94,1007.14,90.27,91.94,108.24
2,7.0164,366.37,57.90,68.67,919.21,92.70,93.00,93.39
3,6.0652,345.24,55.61,65.46,859.74,91.18,91.92,89.95
4,4.8113,317.50,51.70,60.93,769.32,91.33,93.29,81.47

In [344]:
# proceding with df_23 and df_24 as they are same table 
# fluid type = XCD-PAC4
# Annulus #1, #2, #4
# eccentricity = 1 ; 1 ; 1

In [345]:
# annulus 1
xcd_pac4_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd_pac4_annulus_1['flow_rate_gpm'] = pd.concat([df_23['Flow Rate'][1:],df_24['Flow Rate'][1:]],axis=0)
xcd_pac4_annulus_1['annulus'] = 'annulus_1'
xcd_pac4_annulus_1['ecc'] = 1
xcd_pac4_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd_pac4_annulus_1['test_fluid'] = 'XCD-PAC4'
xcd_pac4_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['shear_pa'].tolist()[0]
xcd_pac4_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['k_pasm'].tolist()[0]
xcd_pac4_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['m'].tolist()[0]
xcd_pac4_annulus_1['diff_p'] = pd.concat([df_23['Unnamed: 2'][1:],df_24['Unnamed: 2'][1:]],axis=0)

#annulus 2
xcd_pac4_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd_pac4_annulus_2['flow_rate_gpm'] = pd.concat([df_23['Flow Rate'][1:],df_24['Flow Rate'][1:]],axis=0)
xcd_pac4_annulus_2['annulus'] = 'annulus_2'
xcd_pac4_annulus_2['ecc'] = 1
xcd_pac4_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd_pac4_annulus_2['test_fluid'] = 'XCD-PAC4'
xcd_pac4_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['shear_pa'].tolist()[0]
xcd_pac4_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['k_pasm'].tolist()[0]
xcd_pac4_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['m'].tolist()[0]
xcd_pac4_annulus_2['diff_p'] = pd.concat([df_23['Unnamed: 3'][1:],df_24['Unnamed: 3'][1:]],axis=0)

# annulus 4
xcd_pac4_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd_pac4_annulus_4['flow_rate_gpm'] = pd.concat([df_23['Flow Rate'][1:],df_24['Flow Rate'][1:]],axis=0)
xcd_pac4_annulus_4['annulus'] = 'annulus_4'
xcd_pac4_annulus_4['ecc'] = 1
xcd_pac4_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd_pac4_annulus_4['test_fluid'] = 'XCD-PAC4'
xcd_pac4_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['shear_pa'].tolist()[0]
xcd_pac4_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['k_pasm'].tolist()[0]
xcd_pac4_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC4')]['m'].tolist()[0]
xcd_pac4_annulus_4['diff_p'] = pd.concat([df_23['Unnamed: 4'][1:],df_24['Unnamed: 4'][1:]],axis=0)

xcd_pac_4 = pd.concat([xcd_pac4_annulus_1,xcd_pac4_annulus_2,xcd_pac4_annulus_4],axis=0)

In [347]:
xcd_pac_4.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
14,0.2416,annulus_4,1,0.76,XCD-PAC4,1.90,4.28,0.36,257.74
15,0.1308,annulus_4,1,0.76,XCD-PAC4,1.90,4.28,0.36,210.53
16,0.0804,annulus_4,1,0.76,XCD-PAC4,1.90,4.28,0.36,180.75
17,0.0485,annulus_4,1,0.76,XCD-PAC4,1.90,4.28,0.36,154.28
18,0.0331,annulus_4,1,0.76,XCD-PAC4,1.90,4.28,0.36,139.28

# done till df_24 >> saved >> xcd_pac_4

In [349]:
df_25.tail()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
16,0.3709,132.93,21.80,27.91,295.32,97.71,97.61,31.00
17,0.2330,113.61,18.58,23.92,250.43,94.91,97.22,26.36
18,0.1472,96.60,15.93,20.29,215.39,94.56,96.17,23.19
19,0.0763,78.38,12.84,16.48,176.09,96.43,97.05,17.98
20,0.0360,62.79,10.37,13.20,143.71,96.36,96.25,15.29

In [350]:
# proceding with df_25
# fluid type = XCD-PAC5
# Annulus #1, #2, #4
# eccentricity = 0.75 ; 0.60 ; 0.80

In [351]:
#annulus 1
xcd_pac5_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd_pac5_annulus_1['flow_rate_gpm'] = df_25['Flow Rate'][1:]
xcd_pac5_annulus_1['annulus'] = 'annulus_1'
xcd_pac5_annulus_1['ecc'] = 0.75
xcd_pac5_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd_pac5_annulus_1['test_fluid'] = 'XCD-PAC5'
xcd_pac5_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['shear_pa'].tolist()[0]
xcd_pac5_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['k_pasm'].tolist()[0]
xcd_pac5_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['m'].tolist()[0]
xcd_pac5_annulus_1['diff_p'] = df_25['Unnamed: 2'][1:]

#annulus 2
xcd_pac5_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd_pac5_annulus_2['flow_rate_gpm'] = df_25['Flow Rate'][1:]
xcd_pac5_annulus_2['annulus'] = 'annulus_2'
xcd_pac5_annulus_2['ecc'] = 0.60
xcd_pac5_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd_pac5_annulus_2['test_fluid'] = 'XCD-PAC5'
xcd_pac5_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['shear_pa'].tolist()[0]
xcd_pac5_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['k_pasm'].tolist()[0]
xcd_pac5_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['m'].tolist()[0]
xcd_pac5_annulus_2['diff_p'] = df_25['Unnamed: 3'][1:]

#annulus 4
xcd_pac5_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd_pac5_annulus_4['flow_rate_gpm'] = df_25['Flow Rate'][1:]
xcd_pac5_annulus_4['annulus'] = 'annulus_4'
xcd_pac5_annulus_4['ecc'] = 0.80
xcd_pac5_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd_pac5_annulus_4['test_fluid'] = 'XCD-PAC5'
xcd_pac5_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['shear_pa'].tolist()[0]
xcd_pac5_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['k_pasm'].tolist()[0]
xcd_pac5_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC5')]['m'].tolist()[0]
xcd_pac5_annulus_4['diff_p'] = df_25['Unnamed: 4'][1:]

# concat all the above into xcd_pac_5
xcd_pac_5 = pd.concat([xcd_pac5_annulus_1,xcd_pac5_annulus_2,xcd_pac5_annulus_4],axis=0)

In [353]:
xcd_pac_5.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
16,0.3709,annulus_4,0.8,0.76,XCD-PAC5,3.50,3.27,0.39,295.32
17,0.2330,annulus_4,0.8,0.76,XCD-PAC5,3.50,3.27,0.39,250.43
18,0.1472,annulus_4,0.8,0.76,XCD-PAC5,3.50,3.27,0.39,215.39
19,0.0763,annulus_4,0.8,0.76,XCD-PAC5,3.50,3.27,0.39,176.09
20,0.0360,annulus_4,0.8,0.76,XCD-PAC5,3.50,3.27,0.39,143.71

# done till df_25 >>> saved >> xcd_pac_5

In [354]:
df_26.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=75%),Annulus #2 \n(e=60%),Annulus #4 \n(e=80%),Inlet,Outlet,[Psig]
1,19.5179,370.62,45.97,56.63,1114.42,105.52,107.78,151.43
2,17.5772,329.40,44.26,54.42,992.27,107.30,108.03,130.61
3,16.2736,305.55,43.25,52.94,915.83,106.30,106.37,120.37
4,14.8518,284.72,42.10,51.54,849.57,102.56,106.55,106.56

In [357]:
# proceding with df_26
# fluid type = XCD9
# Annulus #1, #2, #4
# eccentricity = 0.75 ; 0.60 ; 0.80

In [358]:
# annulus 1
xcd9_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd9_annulus_1['flow_rate_gpm'] = df_26['Flow Rate'][1:]
xcd9_annulus_1['annulus'] = 'annulus_1'
xcd9_annulus_1['ecc'] = 0.75
xcd9_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd9_annulus_1['test_fluid'] = 'XCD9'
xcd9_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['shear_pa'].tolist()[0]
xcd9_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['k_pasm'].tolist()[0]
xcd9_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['m'].tolist()[0]
xcd9_annulus_1['diff_p'] = df_26['Unnamed: 2'][1:]

#annulus 2
xcd9_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd9_annulus_2['flow_rate_gpm'] = df_26['Flow Rate'][1:]
xcd9_annulus_2['annulus'] = 'annulus_2'
xcd9_annulus_2['ecc'] = 0.60
xcd9_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd9_annulus_2['test_fluid'] = 'XCD9'
xcd9_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['shear_pa'].tolist()[0]
xcd9_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['k_pasm'].tolist()[0]
xcd9_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['m'].tolist()[0]
xcd9_annulus_2['diff_p'] = df_26['Unnamed: 3'][1:]

#annulus 4
xcd9_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd9_annulus_4['flow_rate_gpm'] = df_26['Flow Rate'][1:]
xcd9_annulus_4['annulus'] = 'annulus_4'
xcd9_annulus_4['ecc'] = 0.80
xcd9_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd9_annulus_4['test_fluid'] = 'XCD9'
xcd9_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['shear_pa'].tolist()[0]
xcd9_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['k_pasm'].tolist()[0]
xcd9_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD9')]['m'].tolist()[0]
xcd9_annulus_4['diff_p'] = df_26['Unnamed: 4'][1:]

# concat into xcd_9
xcd_9 = pd.concat([xcd9_annulus_1,xcd9_annulus_2,xcd9_annulus_4],axis=0)

In [360]:
xcd_9.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
17,0.6117,annulus_4,0.8,0.76,XCD9,8.10,0.90,0.45,196.11
18,0.4524,annulus_4,0.8,0.76,XCD9,8.10,0.90,0.45,196.16
19,0.2537,annulus_4,0.8,0.76,XCD9,8.10,0.90,0.45,165.46
20,0.1321,annulus_4,0.8,0.76,XCD9,8.10,0.90,0.45,138.23
21,0.0484,annulus_4,0.8,0.76,XCD9,8.10,0.90,0.45,116.31

# Done till df_26 >>> saved >> xcd_9

In [361]:
df_27.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=65%),Annulus #2 \n(e=00%),Annulus #4 \n(e=85%),Inlet,Outlet,[Psig]
1,16.0015,421.42,60.67,96.57,1312.54,99.09,100.82,153.52
2,14.7502,394.33,58.35,91.97,1202.66,93.65,98.90,138.18
3,13.4102,366.01,56.39,87.95,1126.86,99.75,99.69,124.50
4,12.1711,343.90,54.70,84.41,1103.97,96.86,100.25,111.72

In [362]:
df_28.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=65%),Annulus #2 \n(e=00%),Annulus #4 \n(e=85%),Inlet,Outlet,[Psig]
1,0.3081,100.99,27.17,40.10,218.25,92.65,94.34,27.32
2,0.1793,88.85,25.20,36.85,194.10,91.98,94.51,24.09
3,0.0625,71.87,21.61,31.91,157.65,92.36,93.62,19.89

In [363]:
# proceding with df_27, df_28
# fluid type = XCD10
# Annulus #1, #2, #4
# eccentricity = 0.65 ; 0.0 ; 0.85

In [364]:
# annulus 1
xcd10_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd10_annulus_1['flow_rate_gpm'] = pd.concat([df_27['Flow Rate'][1:],df_28['Flow Rate'][1:]],axis=0)
xcd10_annulus_1['annulus'] = 'annulus_1'
xcd10_annulus_1['ecc'] = 0.65
xcd10_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd10_annulus_1['test_fluid'] = 'XCD10'
xcd10_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['shear_pa'].tolist()[0]
xcd10_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['k_pasm'].tolist()[0]
xcd10_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['m'].tolist()[0]
xcd10_annulus_1['diff_p'] = pd.concat([df_27['Unnamed: 2'][1:],df_28['Unnamed: 2'][1:]],axis=0)

#annulus 2
xcd10_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd10_annulus_2['flow_rate_gpm'] = pd.concat([df_27['Flow Rate'][1:],df_28['Flow Rate'][1:]],axis=0)
xcd10_annulus_2['annulus'] = 'annulus_2'
xcd10_annulus_2['ecc'] = 0.0
xcd10_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd10_annulus_2['test_fluid'] = 'XCD10'
xcd10_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['shear_pa'].tolist()[0]
xcd10_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['k_pasm'].tolist()[0]
xcd10_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['m'].tolist()[0]
xcd10_annulus_2['diff_p'] = pd.concat([df_27['Unnamed: 3'][1:],df_28['Unnamed: 3'][1:]],axis=0)

#annulus 4
xcd10_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd10_annulus_4['flow_rate_gpm'] = pd.concat([df_27['Flow Rate'][1:],df_28['Flow Rate'][1:]],axis=0)
xcd10_annulus_4['annulus'] = 'annulus_4'
xcd10_annulus_4['ecc'] = 0.85
xcd10_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd10_annulus_4['test_fluid'] = 'XCD10'
xcd10_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['shear_pa'].tolist()[0]
xcd10_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['k_pasm'].tolist()[0]
xcd10_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD10')]['m'].tolist()[0]
xcd10_annulus_4['diff_p'] = pd.concat([df_27['Unnamed: 4'][1:],df_28['Unnamed: 4'][1:]],axis=0)

# concat all of above into xcd_10
xcd_10 = pd.concat([xcd10_annulus_1,xcd10_annulus_2,xcd10_annulus_4],axis=0)

In [366]:
xcd_10.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
16,0.4978,annulus_4,0.85,0.76,XCD10,9.00,1.01,0.48,239.30
17,0.4611,annulus_4,0.85,0.76,XCD10,9.00,1.01,0.48,241.20
1,0.3081,annulus_4,0.85,0.76,XCD10,9.00,1.01,0.48,218.25
2,0.1793,annulus_4,0.85,0.76,XCD10,9.00,1.01,0.48,194.10
3,0.0625,annulus_4,0.85,0.76,XCD10,9.00,1.01,0.48,157.65

# done till df_28 >> saved >> xcd_10

In [368]:
df_29.head()

,Flow Rate,Differential Pressure [inch H2O],Unnamed: 2,Unnamed: 3,Unnamed: 4,Temperature [(cid:176)F],Unnamed: 6,Pressure
0,[gpm],0.5 Pipe,Annulus #1 \n(e=65%),Annulus #2 \n(e=00%),Annulus #4 \n(e=85%),Inlet,Outlet,[Psig]
1,14.1900,514.07,78.84,126.91,1478.64,84.66,84.72,166.96
2,13.0491,488.09,76.51,122.12,1385.93,82.93,84.20,157.65
3,11.9077,463.95,73.89,118.46,1300.25,85.40,86.13,143.06
4,10.7103,447.12,71.35,113.89,1210.11,82.80,86.19,132.22

In [369]:
# proceding with df_29
# fluid type = XCD-PAC8
# Annulus #1, #2, #4
# eccentricity = 0.65 ; 0.0 ; 0.85

In [371]:
# annulus 1
xcd_pac8_annulus_1 = pd.DataFrame(columns=clean_data.columns)
xcd_pac8_annulus_1['flow_rate_gpm'] = df_29['Flow Rate'][1:]
xcd_pac8_annulus_1['annulus'] = 'annulus_1'
xcd_pac8_annulus_1['ecc'] = 0.65
xcd_pac8_annulus_1['di/do'] = dim_annulus['Di/Do'][1]
xcd_pac8_annulus_1['test_fluid'] = 'XCD-PAC8'
xcd_pac8_annulus_1['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['shear_pa'].tolist()[0]
xcd_pac8_annulus_1['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['k_pasm'].tolist()[0]
xcd_pac8_annulus_1['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['m'].tolist()[0]
xcd_pac8_annulus_1['diff_p'] = df_29['Unnamed: 2'][1:]

# annulus 2
xcd_pac8_annulus_2 = pd.DataFrame(columns=clean_data.columns)
xcd_pac8_annulus_2['flow_rate_gpm'] = df_29['Flow Rate'][1:]
xcd_pac8_annulus_2['annulus'] = 'annulus_2'
xcd_pac8_annulus_2['ecc'] = 0.0
xcd_pac8_annulus_2['di/do'] = dim_annulus['Di/Do'][2]
xcd_pac8_annulus_2['test_fluid'] = 'XCD-PAC8'
xcd_pac8_annulus_2['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['shear_pa'].tolist()[0]
xcd_pac8_annulus_2['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['k_pasm'].tolist()[0]
xcd_pac8_annulus_2['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['m'].tolist()[0]
xcd_pac8_annulus_2['diff_p'] = df_29['Unnamed: 3'][1:]

#annulus 4
xcd_pac8_annulus_4 = pd.DataFrame(columns=clean_data.columns)
xcd_pac8_annulus_4['flow_rate_gpm'] = df_29['Flow Rate'][1:]
xcd_pac8_annulus_4['annulus'] = 'annulus_4'
xcd_pac8_annulus_4['ecc'] = 0.85
xcd_pac8_annulus_4['di/do'] = dim_annulus['Di/Do'][4]
xcd_pac8_annulus_4['test_fluid'] = 'XCD-PAC8'
xcd_pac8_annulus_4['shear_pa'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['shear_pa'].tolist()[0]
xcd_pac8_annulus_4['k'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['k_pasm'].tolist()[0]
xcd_pac8_annulus_4['m'] = comp_rheo_test_fluid_pipe_viso[(comp_rheo_test_fluid_pipe_viso['test_fluid']=='XCD-PAC8')]['m'].tolist()[0]
xcd_pac8_annulus_4['diff_p'] = df_29['Unnamed: 4'][1:]

# concat above into >> xcd_pac_8
xcd_pac_8 = pd.concat([xcd_pac8_annulus_1,xcd_pac8_annulus_2,xcd_pac8_annulus_4],axis=0)

In [373]:
xcd_pac_8.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
18,0.2827,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,358.20
19,0.1637,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,286.46
20,0.0878,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,279.86
21,0.0459,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,215.51
22,0.0246,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,196.74

In [375]:
data = pd.concat([xcd_pac_3,xcd_pac_6,xcd_pac_7,xcd1_annulus_3,xcd2_annulus_3,
xcd3_annulus_3,xcd4_annulus_3,xcd_pac1_annulus_3,xcd_pac2_annulus_3,xcd_5,
xcd_6,xcd_7,xcd_8,xcd_pac_4,xcd_pac_5,xcd_9,xcd_10,xcd_pac_8],axis=0)

In [378]:
data = data.reset_index(drop=True)

In [379]:
data.tail()

,flow_rate_gpm,annulus,ecc,di/do,test_fluid,shear_pa,k,m,diff_p
898,0.2827,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,358.20
899,0.1637,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,286.46
900,0.0878,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,279.86
901,0.0459,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,215.51
902,0.0246,annulus_4,0.85,0.76,XCD-PAC8,3.80,2.98,0.4,196.74

In [380]:
data.to_csv('pressure_loss.csv')