In [1]:
import camelot

In [2]:
#tables = camelot.read_pdf('convert-28.pdf')

In [3]:
#tables

In [4]:
#tables.export('test.csv',f='csv',compress=True)

In [5]:
#tables[0]

In [6]:
#tables[0].parsing_report

In [7]:
#tables[0].to_csv('test.csv')

In [8]:
#tables[2]

In [9]:
#tables[2].to_csv('test_1.csv')

# Steps for converting pdf into csv file or other suitable format for camelot
# 1) import camelot
# 2) tables = camelot.read_pdf(file_name) 
# 3) tables >>> query to find total tables identified
# 4) tables.export(export_file_name.csv,f= format_name, compress =True)
# 5) tables[0] >>> gives the shape of the table identified
# 6) tables[0].parsing_report >> properties of the table generate
# 7) tables[0].to_csv(file_name_to_save.csv)

In [2]:
import os
import pandas as pd
input_name = list([i for i in os.listdir() if i.endswith('.pdf')])
input_name

['Original_paper.pdf']

In [ ]:
#tables.export('test.csv',f='csv',compress=True)

In [11]:
# tables = camelot.read_pdf('convert-28.pdf')
# tables.export('convert-28.csv',f='csv')

UserWarning:   (576.0, 578.502) does not lie in column range (324.47249999999997, 575.88) [utils.py:568]

In [11]:
file_name=list([(i[:-4]+'.csv') for i in input_name])

In [13]:
for i,j in zip(file_name,input_name):
        tables = camelot.read_pdf(j)
        tables.export(i,f='csv',compress=True)

UserWarning:   (576.0, 578.502) does not lie in column range (324.47249999999997, 575.88) [utils.py:568]
UserWarning:   (576.0, 578.7105) does not lie in column range (324.47994140624996, 575.88) [utils.py:568]
UserWarning:   (288.0, 290.7105) does not lie in column range (36.47994140624999, 287.88) [utils.py:568]
UserWarning:   (288.0, 290.7105) does not lie in column range (36.479531249999994, 287.88) [utils.py:568]
UserWarning:   (576.0, 579.0) does not lie in column range (324.47994140624996, 575.88) [utils.py:568]

In [3]:
test = ['convert-30.pdf']

In [12]:
file_name

['convert-28.csv',
 'convert-29.csv',
 'convert-30.csv',
 'convert-31.csv',
 'convert-32.csv',
 'convert-33.csv',
 'convert-34.csv',
 'convert-35.csv',
 'convert-36.csv',
 'convert-37.csv',
 'convert-38.csv',
 'convert-39.csv',
 'convert-40.csv']

In [4]:
import pandas as pd
import os

In [5]:
df = []
for dirpath, dirname, file in os.walk('C:\\Users\\Syahrir Ridha\\TU_Pressure_loss'):
    for i in file:
        if i.endswith('.csv'):
             df.append(pd.read_csv(dirpath+'\\'+i))

In [6]:
df_name =[]
for dirpath, dirname, file in os.walk('C:\\Users\\Syahrir Ridha\\TU_Pressure_loss'):
    for i in file:
        if i.endswith('.csv'):
            df_name.append(i[:-4])

In [7]:
for i in range(len(df)):
    globals()['df_%i'%(i+1)] = df[i]

In [ ]:
# ew = data["Name"].str.split(" ", n = 1, expand = True) 
# df.columns = df.columns.str.replace(' ', '')

In [8]:
df_1

,Unnamed: 0,Annulus,Di/Do,pipe_dia_inch,pipe_dia_mm,hole_dia_inch,hole_dia_mm
0,3,#3,0.49,0.68,17.15,1.38,35.05
1,4,#4,0.76,0.63,15.88,0.82,20.93

In [22]:
dia = df_1['Hole_Diameter'].str.split('\n',n=1,expand=True)
df_1['hole_dia_inch'] = dia[0]
df_1['hole_dia_mm'] = dia[1]
df_1.drop(columns=['Hole_Diameter'],inplace=True)

In [43]:
df_1

  Annulus  Di/Do pipe_dia_inch pipe_dia_mm hole_dia_inch hole_dia_mm
3      #3   0.49          0.68       17.15          1.38       35.05
4      #4   0.76          0.63       15.88          0.82       20.93

In [11]:
df_1

,Unnamed: 0,Annulus,Di/Do,pipe_dia_inch,pipe_dia_mm,hole_dia_inch,hole_dia_mm
0,3,#3,0.49,0.68,17.15,1.38,35.05
1,4,#4,0.76,0.63,15.88,0.82,20.93

In [42]:
df_2.iloc[0].values

array([nan, nan, 'XCD [% wt]', 'PAC [% wt]', '[lbf/100ft2]', '[Pa]',
       '[lbf/100ft2s m]', '[Pasm]', nan, '[Â°F]'], dtype=object)